#title {
    background-color: #ff4c68;
    color: #fff;
}

body {
    font-family: "Montserrat";
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold" sans-serif;
}

#title h1 {
    font-family: 'Montserrat-Black' sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.big-heading {
    font-family: "Montserrat-Black" sans-serif;
    font-weight: 900;
    font-size: 3.0rem;
    line-height: 1.5;
}

.navbar {
    padding: 0 0 4.5rem;
    padding-top: 3.0rem;
}

/* Nav bar */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light" sans-serif;
}

.download-button {
    margin: 5% 3% 5% 0%;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    width: 400px;
    height: 807px;
    right: 20%
}

/* Features Section */

#features {
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    position: relative;
}

.perks {
    padding: 5%;
}


#features h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

#features i {
    color: #ef8172;
    margin-bottom: 1rem;
}

#features i:hover {
    color: #ff4c68;
}

/* Testimonial session */

#testimonials { 
   text-align: center;
   background-color: #ef8172;
   color: #fff;
}

.testimonial-image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px 0px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

#pricing p {
    color: #8f8f8f;
}

.pricing-column {
    padding: 3% 2%;
}

.card-head {
    background-color: #f0f0f5;
}


@media (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate(0deg);
    }

    body {
        text-align: center;
    }
}


/* Call to Action Section */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: #fff;  
}

.cta-button {
    margin: 5% 1.5%;
}

#footer {
    text-align: center;
    padding: 7% 15%;
}

.tindog-socials {
    margin: 3% 1% 3% 1%;
}


